In [2]:
import pandas as pd
import numpy as np

In [3]:
df_a = pd.DataFrame({"UNO":["a","b",np.nan,"d","e"],
                   "DOS":["aa","bb","cc","dd","ee"],
                   "TRES":["aaa",np.nan,"ccc","ddd","eee"],
                   "CUATRO":["aaaa","bbbb","cccc","dddd","eeee"]})

In [4]:
df_a

  CUATRO DOS TRES  UNO
0   aaaa  aa  aaa    a
1   bbbb  bb  NaN    b
2   cccc  cc  ccc  NaN
3   dddd  dd  ddd    d
4   eeee  ee  eee    e

In [5]:
df_a.dropna(inplace=True)

In [6]:
df_a

  CUATRO DOS TRES UNO
0   aaaa  aa  aaa   a
3   dddd  dd  ddd   d
4   eeee  ee  eee   e

In [7]:
df_a = df_a[["UNO","DOS"]]

In [8]:
df_a

  UNO DOS
0   a  aa
3   d  dd
4   e  ee

In [9]:
df_b = pd.DataFrame({"CINCO":["w","x","y"]})

In [10]:
df_b

  CINCO
0     w
1     x
2     y

In [11]:
pd.concat([df_a,df_b], axis=1, ignore_index=True)

     0    1    2
0    a   aa    w
1  NaN  NaN    x
2  NaN  NaN    y
3    d   dd  NaN
4    e   ee  NaN

In [12]:
pd.concat([df_a,df_b], axis=1)

   UNO  DOS CINCO
0    a   aa     w
1  NaN  NaN     x
2  NaN  NaN     y
3    d   dd   NaN
4    e   ee   NaN